# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Redis dump
dump.rdb
appendonly.aof

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build or temp files
dist/
tmp/
